* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

body {
    background-color: #F5F5F5;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

video {
    width: 100%;
    height: auto;
}

section {
    margin: 2rem 0;
}


.container {
    max-width: 1640px;
    margin: 0 auto;
}
.image{
    background-color: #f0e4da;
    padding: 15px 0 0 15px;
}
.image1{
    background-color: #f0e4da;
    padding: 15px 0 0 15px;
}
.image2{
    background-color: #f0e4da;
    padding: 15px 0 0 15px;
}
.image3{
    background-color: #f0e4da;
    padding: 15px 0 0 15px;
}
.image4{
    background-color: #f0e4da;
    padding: 15px 0 0 15px;
}
.image5{
    background-color: #f0e4da;
    padding: 15px 0 0 15px;
}
.image6{
    background-color: #f0e4da;
    padding: 15px 0 0 15px;
}
.colors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    padding-top: 5rem;
}
.colorbox {
    padding: 0px;
    border-radius: 100px;
    border-radius: 100px;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    margin: auto;
}
.color_1 {
    background-color: #CBBFB6;
}
.color_2 {
    background-color: #E2CCCD;
}
.color_3 {
    background-color: #E2D6CB;
}
.color_4 {
    background-color: #BCC9BF;
}
.color_5 {
    background-color: #D3C8B9;
}
.color_6 {
    background-color: #D8B9A1;
}
.color_7 {
    background-color: #A8A5A1;
}

/*SLIDER*/
.container {
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 80%;
    height: 0;
    padding-bottom: 40%;
    border: solid 10px grey;
}

.slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide_img img {
    width: 100%;
    height: 100%;
}

#i1,
#i2,
#i3 {
    display: none;
}

.pre,
.nxt {
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 99;
    cursor: pointer;
}

.pre {
    left: 0;
}

.nxt {
    right: 0;
}

.nav_slide {
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.dots {
    top: 50px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0, 0, 0, .6);
}

.slide_img {
    z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three {
    z-index: 9;
}

#i1:checked ~ .nav #dot1,
#i2:checked ~ .nav #dot2,
#i3:checked ~ .nav #dot3 {
    background: #ffffff;
}

#i1,
#i2,
#i3,
#i4,
#i5,
#i6,
#i7,
#i8 {
    display: none;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five,
#i6:checked ~ #six,
#i7:checked ~ #seven,
#i8:checked ~ #eight {
    z-index: 9;
}

#i1:checked ~ .nav #dot1,
#i2:checked ~ .nav #dot2,
#i3:checked ~ .nav #dot3,
#i4:checked ~ .nav #dot4,
#i5:checked ~ .nav #dot5,
#i6:checked ~ .nav #dot6,
#i7:checked ~ .nav #dot7,
#i8:checked ~ .nav #dot8 {
    background: #ec9bff;
    ;
}

/*OVERSKRIFTER GENEREL STYLING*/
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #ffffff;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #253E41;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: #253E41;
    text-align: center;
    text-decoration-style: dotted;
}

h4 {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    color: #253E41;
    text-align: left;
}
/*
.dotted{
    border-bottom: 5px dotted;
}
*/

p {
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-size: 1rem;
    color: #000000;
    line-height: normal;
}

img {
    width: 100%;
    height: auto;
}

#burgermenu {
    background: none;
    color: black;
    border: none;
    padding: 0.5rem;
    margin-right: 0.5rem;
    width: 3rem;
    height: 3rem;
    text-align: right;

}

#menupunkter {
    position: relative;
padding-top: 3rem;
}

header {
    margin-top: 0;
    position: fixed;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    font-family: 'Playfair Display';
    font-weight: 300;
    text-align: right;
}

nav a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    padding-top: 25px;
    padding-right: 25px;
    z-index: 100;
}


/*Mobil + Ipad højformat*/

@media (max-width: 767px) {
    .hide_on_mobile {
        display: none;
    }

    .on {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    main {
        padding-top: 3rem;
    }

    a:link {
        color: hotpink;
    }

    a:visited {
        color: rgba(255, 165, 0, 0.67);
    }

    a:active {
        color: beige;
    }

    a:hover {
        color: rgba(235, 178, 222, 0.76);
    }

    .h1 {
        font-size: 4rem;
    }

    div .h3 {
        text-align: center;
    }
}


/* Ipad bredformat + desktop */

@media (min-width: 768px) {
    .hide_on_desktop {
        display: none;
    }

/*
    nav {
        min-height: 3vh;
    }
*/
    header {
    text-align: center;
    padding-bottom: 2rem;
}

    main {
        padding-top: 3rem;
    }
     a:link {
        color: hotpink;
    }

    a:visited {
        color: rgba(255, 165, 0, 0.67);
    }

    a:active {
        color: beige;
    }

    a:hover {
        color: rgba(235, 178, 222, 0.76);
    }

}


/*SPLASH FARVER*/




#splash1 {
    background-color: #E2CCCD;
}

#splash2 {
    background-color: #DEA9AC;
}

#splash3 {
    background-color: #AA6975;
}

#splash4 {
    background-color: #6B8C83;
}

#splash5 {
    background-color: #56635C;
}

#splash6 {
    background-color: #253E41;
}



/*GRID*/

@media only screen and (min-width: 768px) {

    .image {
        grid-area: image;
    }

    .text {
        grid-area: text;
    }

    .grid2-1 {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
        margin: auto;
        width: 80%;
    }
    .grid1-2 {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 1fr 2fr;
        column-gap: 10px;
        margin: auto;
        width: 80%;
    }
    .grid1-1 {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        margin: auto;
        width: 80%;
    }
    .grid-1 {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 1fr;
        column-gap: 10px;
        margin: auto;
        width: 60%;
    }
    .grid3 {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        margin: auto;
        width: 80%;
    }

}


/*COMPUTER*/


@media (min-width: 600px) {

    #splash {
        width: 100vw;
        height: 44.25vw;
    }

    #splash_overskrift {
        font-family: 'Playfair Display', serif;
        font-size: 8rem;
        text-align: center;
    }

    #splash div {
        grid-column: 3/4;
        grid-row: 3/4;
        text-align: center;
    }
}
